accessibility-check: 0                                                     
clean: yes
decorate-inferred-ul: yes                                                                     
doctype: strict                                                                     
drop-empty-paras: yes
enclose-text:yes                                                                    
error-file:'tidy-error'                                           
hide-comments: yes
indent:yes
indent-spaces:4                                 
input-encoding: latin1                                 
output-encoding: utf8                                  
output-file: 'tidy-output.htm' 
tab-size: 4                                     
tidy-mark:yes
wrap:1000 
