accessibility-check: 0                                                     
clean: no
decorate-inferred-ul: yes                                                                                                                                       
drop-empty-paras: yes
enclose-text:yes    
enclose-block-text:yes                                                                
error-file:'tidy-error'                                           
hide-comments: yes
indent:yes
join-styles:no
merge-divs:no
merge-spans:no
indent-spaces:4                                 
input-encoding: latin1                                 
output-encoding: utf8                                  
output-file: 'tidy-output.htm' 
tab-size: 4                                     
tidy-mark:yes
wrap:1000 
