<!--
							<div style="margin:5px;height:35px" class="btn-group hidden-xs">
								<a class="btn btn-default btn-sm" href="#/newanalysis"><i class="fa fa-plus"></i> New Analysisxx</a>
								<a class="btn btn-default btn-sm" href="#/newanalysis"><i class="fa fa-search"></i> Search Analysis</a>
								<a class="btn btn-default btn-sm" href="#/newanalysis"><i class="fa fa-trash"></i> Delete Analysis</a>
								<a class="btn btn-default btn-sm" href="#/newanalysis"><i class="fa fa-user-secret"></i> Security</a>
								<a class="btn btn-default btn-sm" href="#/newanalysis"><i class="fa fa-share-alt"></i> Share</a>
							</div>
-->							
<!--
							<div style="height:35px" class="btn-group visible-xs-block">
								<a class="btn btn-default" href="#/newanalysis"><i class="fa fa-plus"></i></a>
								<a class="btn btn-default" href="#"><i class="fa fa-search"></i></a>
								<a class="btn btn-default" href="#"><i class="fa fa-trash"></i></a>
								<a class="btn btn-default" href="#"><i class="fa fa-user-secret"></i></a>
								<a class="btn btn-default" href="#"><i class="fa fa-share-alt"></i></a>
							</div>
-->
							<div style="margin-left:5px;margin-right:5px;margin-top:15px">
								<div style="font-weight:bold;text-align:center">
									{{data.typename}}
								</div>
								<hr style="margin-top:3px;margin-bottom:3px">
							</div>
							
							<div style="margin-left:5px;margin-right:5px;margin-top:10px">
								<div style="font-weight:bold">
									<i style="margin-right:3px;margin-bottom:3px" class="fa fa-lg fa-edit"></i>
									{{data.title}}
								</div>
							</div>

<!--							
							<div style="margin-left:5px;margin-right:5px;margin-top:10px;font-size:9px">
								<div>
									Author
								</div>
								<div>
									Jan 3, 2014 10:34pm
								</div>								
							</div>
							
							<div style="margin-left:5px;margin-right:5px;margin-top:10px;">
								<div>
									Tags
								</div>	
								<div>
									<input style="margin-left:5px;margin-right:5px;margin-top:15px" name="tagsx" id="tags" value="foo,bar,baz" />
									<script>
										$( document ).ready(function() {				
											$('#tags').tagsInput({
												'height':'80px',
												'width':'100%'
											});	
										});		
									</script>									
								</div>						
							</div>

							<div style="margin-left:5px;margin-right:5px;margin-top:15px;">
								<a style="cursor: pointer" ng-click="conclusiontoggle()"><i style="cursor:pointer" class="fa {{data.ui.conclusion_pic}}"></i></a>
								 <span style="cursor:pointer;" ng-click="conclusiontoggle()">Finding or Conclusion</span>
								<div ng-show="data.ui.conclusion_expanded" style="padding:4px;border:1px solid;border-color:#CCC;background-color:#F6F7F8;margin-top:10px">
									<i style="margin-right:3px;margin-bottom:3px" class="fa fa-lg fa-edit"></i>
									{{data.conclusion}}
								</div>
							</div>
							
							<div id="mode" style="text-align:center;margin-top:20px;margin-bottom:20px" class="col-lg-12 col-md-12 col-xm-12 col-sm-12">						
								<div class="btn-group" style="margin-top:5px;" data-toggle="buttons">
									<label ng-click="singleclick()" style="font-size:12px" id="analysisbutton"  class="btn btn-primary {{class_single}}">
										<input type="radio" style="font-size:10px" name="options" id="option1" autocomplete="off" checked> Single
									</label>
									<label ng-click="comparisonclick()" style="font-size:12px" id="newsfeedbutton" class="btn btn-primary {{class_comparison}}">
										<input type="radio" style="font-size:10px" name="options" id="option2" autocomplete="off"> Comparison
									</label>
									<label ng-click="timelineclick()" style="font-size:12px" id="newsfeedbutton" class="btn btn-primary {{class_timeline}}">
										<input type="radio" name="options" id="option2" autocomplete="off"> Timeline
									</label>									
								</div>												
							</div>															
-->

<!--														
							<div class="row">
								<div class="col-lg-12 col-md-12 col-xm-12 col-sm-12">
									<div style="text-align:center;margin-right:15px;margin-left:15px;margin-top:20px">
										<a style="cursor:pointer" ng-click="thumbupclick()"><i style="margin-right:3px;margin-bottom:3px" class="fa fa-lg fa-thumbs-o-up pull-right"></i></a>
										<span>{{data.likelabel}}</span>
										<a style="cursor:pointer" ng-click="thumbdownclick()"><i style="margin-right:3px;margin-bottom:3px" class="fa fa-lg fa-thumbs-o-down pull-left"></i></a>
									</div>
								</div>							
							</div>
-->

							<div id="timelinesubmode" ng-show="data.mode=='TIMELINE'" style="margin-top:10px;text-align:center" class="col-lg-12 col-md-12 col-xm-12 col-sm-12">	
								<div class="btn-group" style="margin-top:5px;" data-toggle="buttons">
									<label ng-click="submodestaticclick()" style="font-size:10px" id="analysisbutton"  class="btn btn-primary {{classstatic}}">
										<input type="radio" style="font-size:10px" name="options" id="option1" autocomplete="off" checked> Static
									</label>
									<label ng-click="submodeinteractiveclick()" style="font-size:10px" id="newsfeedbutton" class="btn btn-primary {{classinteractive}}">
										<input type="radio" style="font-size:10px" name="options" id="option2" autocomplete="off"> Interactive
									</label>								
								</div>									
							</div>			
							
							<div ng-show="data.mode=='TIMELINE' && data.submode=='INTERACTIVE'" style="margin-top:10px;margin-left:15px;margin-right:15px">			
								<label style="font-size:12px" for="amount">Move slider to see changes over time</label>
								<div id="slider"></div>	
								Date: <input type="text" id="amount" readonly style="border:0; color:#285F8F; font-weight:bold;">															
								<script>
									$(function() {
										$( "#slider" ).slider({
											value:0,
											min: 0,
											max: 100,
											step: 10,
											slide: function( event, ui ) {
												$( "#amount" ).val( function() {
													var result = new Date();
													result.setDate(new Date().getDate() + parseInt(ui.value));
													return result;													
												});
											}
										});
										$( "#amount" ).val( $( "#slider" ).slider( "value" ) );
									});
								</script>
							</div>	


							<div id="dataslice" style="margin-left:5px;margin-right:55px;margin-top:5px;margin-bottom:10px">
								<a style="cursor: pointer"><i ng-click="dataslicetoggle()" style="cursor:pointer" class="fa {{data.ui.dataslice_pic}}"></i></a>
								<span  style="cursor:pointer" ng-click="dataslicetoggle()">Data Slice</span>
								<div style="margin-top:10px" ng-show="data.ui.dataslice_expanded">
									<table style="margin-top:3px;font-size:12px" class="table table-bordered">
										<tr>
											<td colspan="2" style="padding:4px;background-color:#F6F7F8">
												<table>
													<tr>
														<td style="padding-right:5px"><i class="pull-left fa fa-lg fa-database"></i></td>
														<td>
															<div>
																<span ng-show="data.mode=='COMPARISON'" style="background-color:#285F8E;font-size:9px" class="badge">A</span>
																<span style="font-size:9px" >{{data.base.dataslice.datacontext}}</span>
															</div>
															<div ng-show="data.mode=='COMPARISON'">
																<span style="background-color:#285F8E;font-size:9px" class="badge">B</span>
																<span style="font-size:9px">BBBB</span>
															</div>															
														</td>
													</tr>
												</table>		
											</td>
										</tr>
										<tr>
											<td colspan="2" style="padding:4px;background-color:#F6F7F8">		
												<table>
													<tr>
														<td style="padding-right:5px"><i class="pull-left fa fa-lg fa-calendar"></i></td>
														<td>
															<div>
																<span ng-show="data.mode=='COMPARISON'" style="background-color:#285F8E;font-size:9px" class="badge">A</span>
																<span style="font-size:9px" >{{data.base.dataslice.timecontext.scale}}</span>
															</div>
															<div ng-show="data.mode=='COMPARISON'">
																<span style="background-color:#285F8E;font-size:9px" class="badge">B</span>
																<span style="font-size:9px">BBBB</span>
															</div>															
														</td>
													</tr>
												</table>														
											</td>
										</tr>		
										<tr>
											<td colspan="2" style="padding:4px;background-color:#F6F7F8">		
												<table>
													<tr>
														<td style="padding-right:5px"><i class="pull-left fa fa-lg fa-clock-o"></i></td>
														<td>
															<div>
																<span ng-show="data.mode=='COMPARISON'" style="background-color:#285F8E;font-size:9px" class="badge">A</span>
																<span style="font-size:9px">{{data.base.dataslice.timecontext.from}}</span>
																<i style="margin-right:5px" class="fa fa-caret-left"></i><i class="fa fa-caret-right"></i> 
																<span style="font-size:9px">{{data.base.dataslice.timecontext.to}}</span>
															</div>
															<div ng-show="data.mode=='COMPARISON'">
																<span style="background-color:#285F8E;font-size:9px" class="badge">B</span>
																<span style="font-size:9px">BBBB</span>
															</div>															
														</td>
													</tr>
												</table>														
											</td>
										</tr>			
										<tr ng-if="data.mode=='TIMELINE'">
											<td colspan="2" style="padding:4px;background-color:#F6F7F8">		
												<table>
													<tr>
														<td style="padding-right:5px"><i class="pull-left fa fa-lg fa-ellipsis-h"></i></td>
														<td>
															<div>
																<span ng-show="data.mode=='COMPARISON'" style="background-color:#285F8E;font-size:9px" class="badge">A</span>
																<span style="font-size:9px" >{{data.base.dataslice.timecontext.interval}}</span>
															</div>
															<div ng-show="data.mode=='COMPARISON'">
																<span style="background-color:#285F8E;font-size:9px" class="badge">B</span>
																<span style="font-size:9px">Month</span>
															</div>															
														</td>
													</tr>
												</table>														
											</td>
										</tr>																		
										<tr>
											<td colspan="2" style="padding:4px;background-color:#F6F7F8;text-align:center">
												<span style="font-weight:bold">
													Properties
												</span>
											</td>
										</tr>										
										<tr>
											<td style="padding:4px;background-color:#F6F7F8;width:50%"><i style="margin-right:7px" class="pull-left fa fa-lg fa-tag"></i><span style="">Property 1</span></td>
											<td style="padding:4px;width:50%">
												<table>
													<tr>
														<td>
															<div>
																<span ng-show="data.mode=='COMPARISON'" style="background-color:#285F8E;font-size:9px" class="badge">A</span>
																<span style="font-size:9px" >Property Value</span>
															</div>
															<div ng-show="data.mode=='COMPARISON'">
																<span style="background-color:#285F8E;font-size:9px" class="badge">B</span>
																<span style="font-size:9px">BBBB</span>
															</div>															
														</td>
													</tr>
												</table>																								
											</td>
										</tr>	
										<tr>
											<td style="padding:4px;background-color:#F6F7F8;width:50%"><i style="margin-right:7px" class="pull-left fa fa-lg fa-tag"></i><span style="">Property 2</span></td>
											<td style="padding:4px;width:50%">
												<table>
													<tr>
														<td>
															<div>
																<span ng-show="data.mode=='COMPARISON'" style="background-color:#285F8E;font-size:9px" class="badge">A</span>
																<span style="font-size:9px" >Property Value</span>
															</div>
															<div ng-show="data.mode=='COMPARISON'">
																<span style="background-color:#285F8E;font-size:9px" class="badge">B</span>
																<span style="font-size:9px">BBBB</span>
															</div>															
														</td>
													</tr>
												</table>												
											</td>
										</tr>		
										<tr>
											<td style="padding:4px;background-color:#F6F7F8;width:50%">
												<span style="">
													<i class="fa fa-plus"></i> Add New
												</span>
											</td>
											<td style="padding:4px;width:50%">
												<table>
													<tr>
														<td>
															<div>
																<span ng-show="data.mode=='COMPARISON'" style="background-color:#285F8E;font-size:9px" class="badge">A</span>
																<span style="font-size:9px" ></span>
															</div>
														</td>
													</tr>
												</table>																								
											</td>
										</tr>												
										<tr>
											<td colspan="2" style="padding:4px;background-color:#F6F7F8;text-align:center">
												<span style="font-weight:bold">Measures 
												</span>
											</td>
										</tr>																		
										<tr>
											<td style="padding:4px;background-color:#F6F7F8;width:50%"><i style="margin-right:7px" class="pull-left fa fa-lg fa-tag"></i><span style="">Measure 1</span></td>
											<td style="padding:4px;width:50%">
												<table>
													<tr>
														<td>
															<div>
																<span ng-show="data.mode=='COMPARISON'" style="background-color:#285F8E;font-size:9px" class="badge">A</span>
																<span style="font-size:9px" >Measure Value</span>
															</div>
															<div ng-show="data.mode=='COMPARISON'">
																<span style="background-color:#285F8E;font-size:9px" class="badge">B</span>
																<span style="font-size:9px">BBBB</span>
															</div>															
														</td>
													</tr>
												</table>												
											</td>
										</tr>	
										<tr>
											<td style="padding:4px;background-color:#F6F7F8;width:50%">
												<span style="">
													<i class="fa fa-plus"></i> Add New
												</span>
											</td>
											<td style="padding:4px;width:50%">
												<table>
													<tr>
														<td>
															<div>
																<span ng-show="data.mode=='COMPARISON'" style="background-color:#285F8E;font-size:9px" class="badge">A</span>
																<span style="font-size:9px" ></span>
															</div>
														</td>
													</tr>
												</table>																								
											</td>
										</tr>	
										
									</table>
								</div>
							</div>	


																					
							<div id="analysis">
								
								<div id="analysisfloatingmenu" style="z-index:0;position:absolute;">
									<div style="margin:0px;width:37px" class="btn-group">
										<a href="#/topx-config" style="margin-left:0px;width:37px" class="btn btn-default" href="#"><i class="fa fa-gear"></i></a>
										<a style="margin-left:0px;width:37px" class="btn btn-default" href="#"><i class="fa fa-share-alt"></i></a>

										<a  style="margin-left:0px;margin-top:10px;width:37px;" ng-click="thumbupclick()" class="btn btn-default"><i style="color:green" class="fa fa-thumbs-o-up"></i></a>
										<a  style="margin:0px;text-align:center;width:37px;background-color:{{data.likecolor}};color:white" class="btn"><i>{{data.likelabel}}</i></a>
										<a style="margin-left:0px;width:37px;color:red" ng-click="thumbdownclick()" class="btn btn-default"><i class="fa fa-thumbs-o-down"></i></a>

										<a style="margin-left:0px;margin-top:10px;width:37px" class="btn btn-default" href="#"><i class="fa fa-external-link"></i></a>
										<a style="margin-left:0px;width:37px" class="btn btn-default" href="#"><i class="fa fa-exchange"></i></a>
										<a style="margin-left:0px;width:37px" class="btn btn-default" href="#"><i class="fa fa-clock-o"></i></a>										

										<a style="margin-left:0px;margin-top:10px;width:37px" class="btn btn-default" href="#"><i class="fa fa-trash"></i></a>
									</div>													
								</div>
							</div>
							
								
<script type="text/javascript">
    $(document).ready(function($) { 
		var leftpos = $("#dataslice").offset().left + $("#dataslice").outerWidth() - $("#analysisfloatingmenu").outerWidth()-5;
		var toppos =  $(window).height() - ($("#dataslice").offset.top + $('#dataslice').outerHeight(true));
		$( "#analysisfloatingmenu" ).css('top', (toppos) + 'px');
		$( "#analysisfloatingmenu" ).css('left', (leftpos) + 'px'); 
		var origtoppos = toppos;
 
		$(window).scroll(function () { 
			var toppos =  $(window).height() - ($("#dataslice").offset.top + $('#dataslice').outerHeight(true));
			var bodyY = parseInt($('#dataslice').offset().top) - 20;
			var scrollY = $(window).scrollTop();
	
			if(scrollY > bodyY) {
				if($("#analysisfloatingmenu").css('position') == 'absolute') {
					$( "#analysisfloatingmenu" ).stop().css({
						position: 'fixed',
						top: 20,
						left: leftpos
					});	
				};
			} else if(scrollY < bodyY) {
				if($("#analysisfloatingmenu").css('position') == 'fixed') {
					$("#analysisfloatingmenu").css({
						position: 'absolute',
						top: $('#dataslice').position().top,
						left: leftpos						
					}); 
				}
			}	   
       });
  });
</script>														
